{% extends 'base.html' %}

{% load t_checklisten.get_tasks %}
{% load t_checklisten.get_perms %}

{% block content %}

{% if request.user.is_superuser %}
  {% include 'checklisten/_deleteModal.html' %}
  {% include 'checklisten/_createModal.html' %}
{% endif %}

<div class="row">
  <div class="col s12">
    <h3>Checklisten</h3>
  </div>
  {% for entry in checklisten %}
  <div class="col l4 m6 s12" id="checkliste{{entry.id}}">
    <div class="card grey lighten-2">
      <div class="card-content">
        <span class="card-title truncate">{{entry.mitglied.vorname}} {{entry.mitglied.name}}</span>
        {% if entry.amt %}<p>{{entry.amt.funktion.tostring}}</p>{% endif %}
        <br />
        <form>
          {% for task in entry.id|get_tasks %}
            <p class="truncate">
              <label>
                <input type="checkbox" class="filled-in checkbox-amber" {% if not request.user.is_superuser %}disabled="disabled"{% endif %} onclick="abhaken({{task.id}}, 'Aufgabe');" {% if task.abgehakt %}checked="checked"{% endif %} />
                <span class="black-text">{{task.aufgabe.bezeichnung}}</span>
              </label>
            </p>
          {% endfor %}
          {% if entry.amt %}
            <p style="margin-top: 1em; margin-bottom: 0.5em"><b>Zu gewährende Rechte</b></p>
            {% for perm in entry.id|get_perms %}
              <p class="truncate">
                <label>
                  <input type="checkbox" class="filled-in checkbox-amber" {% if not request.user.is_superuser %}disabled="disabled"{% endif %} onclick="abhaken({{perm.id}}, 'Recht');" {%if perm.abgehakt %}checked="checked"{% endif %} />
                  <span class="black-text">{{perm.recht.bezeichnung}}</span>
                </label>
              </p>
            {% empty %}
              Keine
            {% endfor %}
          {% endif %}
        </form>
      </div>
      {% if request.user.is_superuser %}
      <div class="card-action">
        <a href="#deleteModal" class="black-text modal-trigger" onclick="updateDeleteModal({{entry.id}});"><i class="material-icons">delete</i></a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% if request.user.is_superuser %}
  <div class="col l4 m6 s12">
    <a href="#createModal" class="modal-trigger">
      <div class="card medium grey lighten-2 valign-wrapper">
        <div class="card-content" style="width: 100%">
            <i class="material-icons large black-text center" style="width: 100%">add</i>
          </div>
      </div>
    </a>
  </div>
  {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize modals and selects
    var modalElems = document.querySelectorAll('.modal');
    var modalInstances = M.Modal.init(modalElems, null);

    var selectElems = document.querySelectorAll('select');
    var selectInstances = M.FormSelect.init(selectElems, null);
  });

  // POST task completion to backend
  function abhaken(task_id, task_type) {
    $.ajax({
      type: 'POST',
      url: '/checklisten/abhaken',
      data: {
        task_id: task_id,
        task_type: task_type,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      }
    });
  }

  function loeschen() {
    // Get the Checkliste ID that should be deleted
    var checkliste_id = $("#deleteModal").attr("data-checkliste");

    // POST Checkliste removal to backend
    $.ajax({
      type: 'POST',
      url: '/checklisten/loeschen',
      data: {
        checkliste_id: checkliste_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function() {
        // Remove deleted Checkliste from DOM
        $("#checkliste" + checkliste_id).remove();
      }
    });
  }

  function updateDeleteModal(checkliste_id) {
    // Set the Checkliste ID that should be deleted
    $("#deleteModal").attr("data-checkliste", checkliste_id);
  }
</script>
{% endblock %}
