<p><b>Mitglied: </b> 
    {{entry.mitglied_id}} 
    (aktuell {{latestMitglied.vorname}} {{latestMitglied.name}}, 
    damals {{historicalMitglied.vorname}} {{historicalMitglied.name}})</p>
<p><b>Funktion: </b>
    {{entry.funktion_id}}
    (aktuell {{latestAmt.bezeichnung}} 
        {% if latestUnterbereich %}{{latestUnterbereich.bezeichnung}} {% endif %}
        {{latestReferat.bezeichnung}}{% if historicalAmt %}, damals 
        {{historicalAmt.bezeichnung}} 
        {% if historicalUnterbereich %}{{historicalUnterbereich.bezeichnung}} {% endif %}
        {{historicalReferat.bezeichnung}}{% endif %})
    </p>

{% if entry.history_type == "~" %}
    <br />
    <h5>Alter Datensatz</h5>
    <p><b>Mitglied: </b> 
        {{entry.prev_record.mitglied_id}} 
        (aktuell {{latestMitgliedAlt.vorname}} {{latestMitgliedAlt.name}}, 
        damals {{historicalMitgliedAlt.vorname}} {{historicalMitgliedAlt.name}})</p>
    <p><b>Funktion: </b>
        {{entry.prev_record.funktion_id}}
        (aktuell {{latestAmtAlt.bezeichnung}} 
            {% if latestUnterbereichAlt %}{{latestUnterbereichAlt.bezeichnung}} {% endif %}
            {{latestReferatAlt.bezeichnung}}{% if historicalAmtAlt %}, damals 
            {{historicalAmtAlt.bezeichnung}} 
            {% if historicalUnterbereichAlt %}{{historicalUnterbereichAlt.bezeichnung}} {% endif %}
            {{historicalReferatAlt.bezeichnung}}{% endif %})
        </p>
{% endif %}