<p><b>Mitglieds-ID:</b> {{entry.id}}</p>
<p><b>Name: </b> {{entry.name}}</p>
<p><b>Vorname: </b> {{entry.vorname}}</p>
{% if entry.spitzname %}<p><b>Spitzname: </b> {{entry.spitzname}}</p>{% endif %}
{% if entry.tel_mobil %}<p><b>Telefon:</b> {{entry.tel_mobil}}</p>{% endif %}


{% if entry.history_type == "~" %}
  <br />
  <h5>Alter Datensatz</h5>
  <p><b>Mitglieds-ID:</b> {{entry.id}}</p>
  <p><b>Name: </b> {{entry.prev_record.name}}</p>
  <p><b>Vorname: </b> {{entry.prev_record.vorname}}</p>
  {% if entry.prev_record.spitzname %}<p><b>Spitzname: </b> {{entry.prev_record.spitzname}}</p>{% endif %}
  {% if entry.prev_record.tel_mobil %}<p><b>Telefon:</b> {{entry.prev_record.tel_mobil}}</p>{% endif %}
{% endif %}