<div id="funktion{{amtid}}">
  <div class="row">
      <div id="div_selectreferat{{amtid}}" class="input-field col s10 m8 l4">
        <!-- Organisationseinheit -->
        <select id="selectreferat{{amtid}}" name="selectreferat{{amtid}}" data-url="{% url 'kandidaturen:bereiche_laden' %}" class="selectbereich">
          <option value="{{funktion.organisationseinheit}}" disabled selected>Organisationseinheit auswählen</option>
          {% for organisationseinheit in referate %}
          <option value="{{organisationseinheit.id}}" {% if organisationseinheit.id == funktion.organisationseinheit.id %}selected="selected"{% endif %}>{{organisationseinheit}}</option>
          {% endfor %}
        </select>
        <label>Organisationseinheit</label>
      </div>
        <!-- Bereich -->
        <div id="div_selectbereich{{amtid}}">
          {% if funktion %}
            {% include 'kandidaturen/bereich_dropdown_list_options.html' %}
          {% endif %}
        </div>
  
      <!-- Loeschbutton klein -->
      <div class="col s2 hide-on-large-only" style="padding-top: 16px">
        <a  id="amtdelbtns{{amtid}}" data-saved="{% if funktion %}1{% else %}0{% endif %}" class="amtdelbtn waves-effect waves-light btn-floating amber"><i class="material-icons black-text">delete</i>Entfernen</a>
      </div>
  
      <!-- Amt -->
      <div id="div_selectamt{{amtid}}">
        {% if funktion %}
          {% include 'kandidaturen/amt_dropdown_list_options.html' %}
        {% endif %}
      </div>
  
      <!-- Loeschbutton klein -->
      <div class="col l1 hide-on-med-and-down" style="padding-top: 16px">
        <a  id="amtdelbtnl{{amtid}}" data-saved="{% if funktion %}1{% else %}0{% endif %}" class="amtdelbtn waves-effect waves-light btn-floating amber"><i class="material-icons black-text">delete</i>Entfernen</a>
      </div>
    </div>
  </div>
  