<div class="input-field col s10 m8 l3">
<select id="selectamt{{amtid}}" name=selectamt{{amtid}} class="selectamt">
    <option disabled selected>Funktion auswählen</option>
    {% if aemter %}
    {% for funktion in aemter %}
    <option class="black-text" value="{{funktion.id}}">{{funktion.bezeichnung}}</option>
    {% endfor %}
    {% else %}
      <!--Funktion Teil eines Unterbereichs-->
      {% if funktion.unterbereich %}
        {% for amt_b in funktion.unterbereich.funktion_set.all %}
          <option {% if funktion.id == amt_b.id %}selected="selected"{% endif %} class="black-text" value="{{amt_b.id}}">{{amt_b.bezeichnung}}</option>
        {% endfor %}
      <!-- Funktion nicht Teil eines Unterbereichs -->
      {% else %}
        {% for amt_r in funktion.organisationseinheit.funktion_set.all %}
          <!-- nur Anzeigen von Aemtern des Referats, die zu keinem Unterbereich gehoeren-->
          {% if not amt_r.unterbereich %}
            <option {% if funktion.id == amt_r.id %}selected="selected"{% endif %} class="black-text" value="{{amt_r.id}}">{{amt_r.bezeichnung}}</option>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  </select>
  <label>Funktion</label>
</div>
