<div id="div_email{{id}}" class="row">
    <div class="col s10 m8 l6">
      <div class="input-field">
        <input id="email{{id}}" type="email" name="email{{id}}" type="text" class="validate" {% if email %}value="{{email.email}}"{% endif %}>
        <label id="emaillabel{{id}}" for="email{{id}}">E-Mail</label>
      </div>
    </div>
    <div class="col s2 m2 l1" style="padding-top: 16px">
      <a id="emaildelbtn{{id}}" data-url="{% url 'kandidaturen:email_loeschen' %}" class="emaildelbtn waves-effect waves-light btn-floating amber"><i class="material-icons black-text">delete</i>Entfernen</a>
    </div>
  </div>