<!-- {% load mitglieder_extras %}           eventuell benötigt-->
<div class="col s12">
    <table class="highlight">
        <thead>
            <tr>
            <th></th>
            <th>Name</th>
            <th>Funktionen</th>
            <!--<th class="hide-on-small-only">E-Mails</th>-->
            <th></th>
            <th></th>
            </tr>
        </thead>

        <tbody>
            {% for entry in data %}
                <!-- Zeile -->
                <tr id="tr{{entry.id}}" class="mitglied" data-url="{% url 'kandidaturen:kandidatur_laden' %}" >
                    <td>
                        <!-- Checkbox -->
                        <form method="post" style="margin-bottom: 0px; margin-top: 4px; padding-left: 7px; padding-right: 7px;">
                            {% csrf_token %}
                            <label for="chk-{{entry.id}}">
                                <input type="checkbox" class="filled-in checkbox-amber" id="chk-{{entry.id}}"/>
                                <span style="padding-left: 7px; padding-right: 7px;"></span>
                            </label>
                        </form>
                    </td>
                    <td id="mitgliedname-{{entry.id}}" class="mitglied-{{entry.id}}">{{entry.vorname}} {{entry.name}}</td>
                    <td class="mitglied-{{entry.id}}">
                        {% if entry.curr_funktion_first %}
                        <ul style="margin-bottom: 0px">
                            <li>{{entry.curr_funktion_first}}</li>
                            {% if entry.curr_funktion_count > 1 %}
                                <li>...</li>
                            {% endif %}
                        </ul>
                        {% else %}-
                        {% endif %}
                    </td>

                    <td>
                            <a id="adm-{{entry.id}}" class="admitkandidaturen hide-on-xl-and-down waves-effect waves-light btn amber black-text" ><i class="material-icons left">add</i>Aufnehmen</a>
                           
                            <a id="adm-{{entry.id}}" class="admitkandidaturen hide-on-xxl btn-floating waves-effect waves-light amber"><i class="material-icons black-text">add</i></a>
                    </td>

                    <td>
                        {% if entry.kandidaturmail_set.all %}
                        <!-- email button -->
                        <a href="mailto:{{entry.kandidaturmail_set.first.email}}"><i class="material-icons black-text">email</i></a>
                        {% endif %}
                    </td>

                    <!-- edit button (pencil) -->
                    <td>
                        <a href="{% url 'kandidaturen:bearbeitenView' entry.id %}"><i class="material-icons black-text">create</i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="col s12 center-align">
    <ul class="pagination">
    {% if data.has_previous %}
        <li class="waves-effect"><a class="page-link" data-page="1">1</a></li>
        {% if data.number > 3 %}
        <li class="waves-effect"><a class="page-link" data-page="{{ data.previous_page_number|add:-1 }}">{{ data.previous_page_number|add:-1 }}</a></li>
        {% endif %}
        {% if data.number != 2 %}
        <li class="waves-effect"><a class="page-link" data-page="{{ data.previous_page_number }}">{{ data.previous_page_number }}</a></li>
        {% endif %}
    {% endif %}
    <li class="active" style="background-color: #ffc107"><a class="page-link">{{ data.number }}</a></li>
    {% if data.has_next %}
        {% if data.number != data.paginator.num_pages|add:-1 %}
        <li class="waves-effect"><a class="page-link" data-page="{{ data.next_page_number }}">{{ data.next_page_number }}</a></li>
        {% endif %}
        {% if data.number < data.paginator.num_pages|add:-2 %}
        <li class="waves-effect"><a class="page-link" data-page="{{ data.next_page_number|add:1 }}">{{ data.next_page_number|add:1 }}</a></li>
        {% endif %}
        <li class="waves-effect"><a class="page-link" data-page="{{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a></li>
    {% endif %}
    </ul>
</div>
