{% load t_historie.to_class_name %}

{% if entry|to_class_name == "HistoricalMitglied" %}
{% include 'historie/modalData/mitgliedModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalMitgliedMail" %}
{% include 'historie/modalData/mitgliedMailModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalMitgliedAmt" %}
{% include 'historie/modalData/mitgliedAmtModalData.html' %}
{% endif %}

{% if entry|to_class_name == "HistoricalKandidatur" %}
{% include 'historie/modalData/kandidaturModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalKandidaturMail" %}
{% include 'historie/modalData/kandidaturMailModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalKandidaturAmt" %}
{% include 'historie/modalData/kandidaturAmtModalData.html' %}
{% endif %}

{% if entry|to_class_name == "HistoricalOrganisationseinheit" %}
{% include 'historie/modalData/referatModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalUnterbereich" %}
{% include 'historie/modalData/unterbereichModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalFunktion" %}
{% include 'historie/modalData/amtModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalRecht" %}
{% include 'historie/modalData/rechtModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalFunktionRecht" %}
{% include 'historie/modalData/amtRechtModalData.html' %}
{% endif %}

{% if entry|to_class_name == "HistoricalCheckliste" %}
{% include 'historie/modalData/checklisteModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalChecklisteAufgabe" %}
{% include 'historie/modalData/checklisteAufgabeModalData.html' %}
{% endif %}
{% if entry|to_class_name == "HistoricalChecklisteRecht" %}
{% include 'historie/modalData/checklisteRechtModalData.html' %}
{% endif %}

{% if entry|to_class_name == "HistoricalUser" %}
{% include 'historie/modalData/userModalData.html' %}
{% endif %}
