<div class="input-field col s10 m8 l4">
    <select id="selectbereich{{amtid}}" data-url="{% url 'mitglieder:aemter_laden' %}" name="selectbereich{{amtid}}" class="selectbereich">
        <option selected="selected" disabled selected>Bereich auswählen</option>
        <!-- Zu Mitglied wurde bereits ein Unterbereich gespeichert-->
        {% if funktion %}
            {% if funktion.organisationseinheit.funktionen_ohne_unterbereich_count > 0 %}
                <option type="hidden" {% if not funktion.unterbereich %}selected="selected"{% endif %} value="-1">Keiner</option>
            {% endif %}
            {% for bereich in funktion.organisationseinheit.unterbereich_set.all %}
                <option {% if bereich.id == funktion.unterbereich.id %}selected="selected"{% endif %} value="{{bereich.id}}">{{bereich.bezeichnung}}</option>
            {% endfor %}
        <!-- Neue Organisationseinheit wurde ausgewaehlt -->
        {% else %}
            {% if funktionen_ohne_unterbereich_count > 0 %}
                <option type="hidden" value="-1">Keiner</option>
            {% endif %}
            {% for bereich in bereiche %}
                <option value="{{bereich.id}}">{{bereich.bezeichnung}}</option>
            {% endfor %}
        {% endif %}
    </select>
    <label>Bereich</label>
</div>
